<?xml version="1.0"?>
<launch>

  <arg name="scan" default="front_laser/scan" />
  <arg name="robot_name" default="r1" />
  <arg name="room" default="gh25" />
  
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">  
    <remap from="scan" to="$(arg robot_name)/$(arg scan)"/>
    <param name="base_frame" value="$(arg robot_name)/base_link"/> 
    <param name="odom_frame" value="$(arg robot_name)/odom"/> 
  </node>
     
</launch>
