<launch>
    <!-- Map server just as reference -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find mr_launch)/cfg/map_server/line/line.yaml">
        <!-- <remap from="map" to="map_ref" /> -->
    </node>

    <!-- RViz with configuration to show useful topics -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mr_launch)/rviz/goto1.rviz" />  
    
    <!-- rqt_plot showing current forward velocity (/odom/twist/twist/linear/x) and rotational velocity (/odom/twist/twist/angular/z) -->
    <!-- <node name="pos_vel_plot" pkg="rqt_plot" type="rqt_plot" args="/odom/twist/twist/linear/x /odom/twist/twist/angular/z" /> -->
</launch>


