<?xml version="1.0"?>
<launch>

	<arg name="robot_name" default="r0" />
	<arg name="scan" default="laser0/scan/raw" />
	<arg name="cfg" default="pioneer" />
	<arg name="odom" default="odom" />
  
  <group ns="$(arg robot_name)">
    <node pkg="move_base" type="move_base" name="move_base" output="screen">  
		<remap from="scan" to="$(arg scan)"/>     
		<remap from="odom" to="$(arg odom)"/>   
		<remap from="map" to="/map"/>
		<rosparam file="$(find mr_launch)/cfg/move_base/$(arg cfg)/costmap_common_params.yaml" command="load" />
		<rosparam file="$(find mr_launch)/cfg/move_base/$(arg cfg)/base_local_planner.yaml" command="load" />
		<rosparam file="$(find mr_launch)/cfg/move_base/$(arg cfg)/global_costmap.yaml" command="load" />
		<rosparam file="$(find mr_launch)/cfg/move_base/$(arg cfg)/local_costmap.yaml" command="load" />
    </node>
  </group>
  
</launch>
